<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>placeOrderServlet</display-name>
    <servlet-name>placeOrderServlet</servlet-name>
    <servlet-class>com.hosp.service.placeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrderServlet</servlet-name>
    <url-pattern>/placeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderdMedicine</display-name>
    <servlet-name>orderdMedicine</servlet-name>
    <servlet-class>com.hosp.service.orderdMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderdMedicine</servlet-name>
    <url-pattern>/orderdMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertOrderServlet</display-name>
    <servlet-name>insertOrderServlet</servlet-name>
    <servlet-class>com.hosp.service.insertOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertOrderServlet</servlet-name>
    <url-pattern>/insertOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocartServlet</display-name>
    <servlet-name>addtocartServlet</servlet-name>
    <servlet-class>com.hosp.service.addtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocartServlet</servlet-name>
    <url-pattern>/addtocartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartServlet</display-name>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>com.hosp.service.cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
</web-app>